* {
  font-family: Tabular,sans-serif;
  font-size: 17px;
  box-sizing: border-box
}
#abstain,
body,
.container,
h1,
header,
html {
  margin: 0
}
body {
  padding: 0;
  background: #ededed;
  background: linear-gradient(180deg,#f0f0f0 0,#eaeaea 50%,#f1f1f1 100%)
}
.container {
  min-height: 100vh;
  text-align: center
}
.card,
.confirm-choices,
.controls,
header,
.number-control,
.number-controls,
.option-area,
.option-card,
.option-right,
.option-value,
.options,
#players-area,
.results-area,
.rounds,
.setting,
.settings,
.settings-area,
.voting-area {
  display: flex
}
header {
  justify-content: left;
  height: auto;
  border-bottom: 1px solid #000
}
h1 {
  display: inline-block;
  padding: 17px 20px;
  font-family: Helvetica,sans-serif;
  font-size: 24px;
  letter-spacing: 1px
}
@media (max-width:599px) {
  .option-card,
  .results-area,
  .rounds,
  .setting,
  .settings,
  .voting-area {
    flex-direction: column
  }
  .option-area,
  .results-area {
    width: 100%
  }
  #next-round {
    margin: 20px 0
  }
  .round-name {
    margin: 20px 0;
    padding: 0
  }
  .round-info {
    padding: 0 20px
  }
  .option-area {
    border-bottom: 1px solid #000
  }
}
@media (min-width:600px) {
  .rounds,
  .setting,
  .settings,
  .voting-area {
    flex-direction: row
  }
  .option-card,
  .option-right,
  .results-area {
    flex-direction: column
  }
  .option-area {
    width: 50%;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000
  }
  .results-area {
    width: 50%
  }
  #next-round {
    margin: 0 20px 0 0
  }
  .round-name {
    margin: 0;
    padding: 12px 20px
  }
  .round-info {
    max-width: 300px;
    padding: 12px 20px
  }
}
@media (min-width:1024px) {
  .option-card,
  .option-right,
  .results-area,
  .rounds,
  .setting,
  .settings,
  .voting-area {
    flex-direction: row
  }
  .option-area {
    width: 40%;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000
  }
  .results-area {
    width: 60%
  }
  #next-round {
    margin: 0 20px 0 0
  }
  .round-name {
    margin: 0;
    padding: 12px 20px
  }
  .round-info {
    max-width: none;
    padding: 12px 20px
  }
}
.rounds {
  align-items: center;
  justify-content: space-between;
  height: auto;
  margin-left: 0 0 20px;
  border-bottom: 1px solid #000
}
.round-name {
  display: inline-block
}
.round-info {
  display: inline-block;
  margin: 0
}
#round-weight {
  font-weight: 500
}
.voting-area {
  justify-content: left;
  margin: 0
}
.card {
  justify-content: space-between;
  align-items: center;
  padding: 10px
}
.card-label {
  font-weight: 500;
  margin: 0
}
.option-area {
  flex-direction: column;
  justify-content: space-between;
  padding: 20px
}
.option-card {
  background-color: rgba(220,220,220,.5);
  height: auto;
  width: auto;
  gap: 10px
}
.options {
  flex-direction: column;
  gap: 20px
}
.option-right {
  align-self: center;
  gap: 24px
}
.option-value {
  flex-direction: row;
  align-self: center;
  gap: 6px
}
.results-area {
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 20px;
  border-bottom: 1px solid #000
}
.results-label {
  font-weight: 500;
  padding-bottom: 10px;
  margin: 0
}
.stats-card {
  flex-direction: column;
  background-color: rgba(220,220,220,.5);
  width: 100%;
  height: 100%
}
#stats-area {
  background-color: #eaeaea;
  width: 100%;
  height: 100%;
  padding: 10px
}
.stat {
  padding: 4px 10px;
  margin: 0;
  width: 100%;
  text-align: left
}
.history-card {
  flex-direction: column;
  background-color: rgba(220,220,220,.5);
  width: 100%;
  height: 383px
}
#history-area {
  background-color: #eaeaea;
  padding: 4px 20px 10px;
  overflow: scroll;
  width: 100%;
  height: 100%
}
#history-area p {
  margin: 0;
  text-align: left
}
#history-area p:nth-child(4n+1) {
  margin: 10px 0 0;
  text-align: left;
  font-weight: 500
}
#history-area p:nth-child(4n) {
  margin: 0 0 20px
}
.settings-area {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: auto;
  padding: 20px;
  border-bottom: 1px solid #000
}
.settings-card {
  flex-direction: column;
  background-color: rgba(220,220,220,.5);
  width: 100%;
  height: auto
}
.settings {
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #eaeaea;
  width: 100%;
  height: 100%
}
.setting {
  justify-content: space-between;
  align-self: center;
  gap: 10px;
  margin: 0;
  background-color: #eaeaea;
  border-radius: 20px;
  padding: 10px
}
.setting-name {
  margin: 0;
  text-align: center;
  align-self: center;
  width: auto;
  flex-wrap: wrap
}
.other-players-area {
  background: rgb(21, 21, 21);
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 20px;
  border-bottom: 1px solid #fff
}
.other-players-card {
  flex-direction: column;
  background-color: rgba(43, 43, 43, 0.5);
  width: 100%;
  height: 100%
}
.other-players-label {
  color: #fff;
  font-weight: 500;
  padding-bottom: 10px;
  margin: 0
}
#players-area {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
  gap: 10px;
  height: auto
}
.other-player, .other-player-history {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 30%;
  background-color: rgb(21, 21, 21);
  color: #fff;
  width: 100%;
  height: 100%;
  min-width: 280px;
  min-height: 280px;
  padding: 10px
}
input {
  background: #fafafa;
  height: 37px;
  width: 87.2px;
  border: 1px solid #000;
  border-radius: 4px;
  text-align: center;
  outline: 0
}
input::placeholder {
  color: #000
}
input:focus::placeholder {
  color: transparent
}
input[disabled] {
  color: #a0a0a0;
  background-color: #eaeaea;
  border: 1px solid #a0a0a0
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none
}
#active-streak-accrual-rate-input,
#active-streak-threshold-input,
#vote-accrual-rate-input {
  background: #fafafa;
  height: 37px;
  width: 92px;
  margin: 0;
  border: 1px solid #000;
  border-radius: 4px;
  text-align: center;
  align-self: center
}
.number-controls {
  flex-direction: row;
  font-size: 0;
  align-self: center;
  gap: 4px
}
.number-control {
  border: 1px solid #000;
  background: #fafafa;
  width: auto;
  height: 37px;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  justify-content: center;
  vertical-align: middle;
  color: #000;
  cursor: pointer
}
.number-control:hover {
  transition-duration: .3s;
  background-color: #ececec
}
.number-control[disabled] {
  border: 1px solid #a0a0a0;
  background-color: #eaeaea;
  color: #a0a0a0;
  cursor: default
}
.left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px
}
.right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px
}
.no-left-border {
  border-left-width: 0
}
.controls {
  justify-content: space-around
}
.button {
  width: auto;
  cursor: pointer;
  border-radius: 4px;
  background-color: #fafafa;
  padding: 6px 10px;
  color: #000;
  border: 1px solid #000;
  align-self: center
}
.button:hover {
  transition-duration: .3s;
  background-color: #ececec
}
.button[disabled] {
  transition-duration: .3s;
  background-color: #eaeaea;
  color: #a0a0a0;
  border: 1px solid #a0a0a0;
  cursor: default
}
@keyframes glowing {
  0%,
  100% {
    box-shadow: 0 0 -10px rgb(178, 178, 178)
  }
  40%,
  60% {
    box-shadow: 0 0 20px rgb(178, 178, 178)
  }
}
@keyframes blink {
  0% {
    color: #000;
    background-color: #fff;
  }
  25% {
    color: #fff;
    background-color: #000;
  }
  50% {
    color: #000;
    background-color: #fff;
  }
  75% {
    color: #fff;
    background-color: #000;
  }
  100% {
    color: #000;
    background-color: #fff;
  }
}
.button-glow {
  animation: blink 3.7s infinite
}
#rate-set-button,
#streak-rate-set-button,
#threshold-set-button {
  width: 77px
}
.confirm {
  display: none
}
.confirm > div:first-of-type {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  top: 0;
  left: 0;
  z-index: 2
}
.confirm > div:last-of-type {
  padding: 10px 20px;
  background: #fff;
  position: fixed;
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
  vertical-align: middle;
  transform: translate(-50%,-50%);
  border-radius: 25px;
  border: 1px solid #333;
  z-index: 3
}
.confirm > div:last-of-type div:first-of-type {
  min-width: 250px;
  padding: 10px 10px 20px
}
.confirm > div:last-of-type div:last-of-type {
  text-align: center
}
.confirm-choices {
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px 10px
}
#confirm-no,
#confirm-yes {
  font-size: 17px;
  border-radius: 4px;
  width: 70px;
  padding: 6px 10px;
  color: #000;
  background: #fafafa;
  border: 1px solid #000
}
#confirm-no:hover,
#confirm-yes:hover {
  cursor: pointer;
  transition-duration: .3s;
  background-color: #ececec
}
.footer {
  background-color: rgb(21, 21, 21);
  color: #fff;
}
.footer-info {
  display: inline-block;
  margin: 20px
}
#footer-link {
  color: #fff;
  text-decoration: none;
  font-weight: 500
}
.instructions {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px
}
.instruction {
  width: 350px;
  padding: 2px;
  text-align: center
}
.instructions h3 {
  font-size: 14px
}
